/* 
 * mixin for truncating text, can be used for multiple lines text truncating
 * @param font-size      default 14px
 * @param line-height    default 1.4
 * @param lines-to-show  default 1
 */
@mixin truncate-text($font-size: 14px, $line-height: 1.4, $lines-to-show: 1) {
  font-size: $font-size;
  line-height: $line-height;
  display: block;
  // Fallback for non-webkit
  display: -webkit-box;
  max-height: $font-size * $line-height * $lines-to-show;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}